/* Animation */
@-webkit-keyframes shine {100% {left: 125%;}}
@keyframes shine {100% {left: 125%;}}


/* Banner 01 */
.banner-01 .img-bg{
  position:absolute; top:0; left:0; right:0; bottom:0;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}
.banner-01 .swiper > .swiper-wrapper .swiper-slide{position:relative; height:calc(100dvh - 7.0625rem);}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .container{height:100%;}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .container .text-wrapper{height:100%; display:flex; align-items:center;}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .hero{
    position:absolute; bottom:0; right:0; width:65vw; z-index:2; height:35rem;
    display:flex; align-items:end; z-index:1;
}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .main-title{
    line-height:.75; border-bottom:1px dashed transparent; 
    width:calc(100% + 3rem); padding-bottom:.5rem;
}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper{position:relative; z-index:3;}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper>.wrapper{margin-left:18rem;}
.banner-01 .swiper > .swiper-wrapper .swiper-slide .hero img {
    display: block; width: auto; max-width:100%;
    height: auto; max-height: calc(100% - 1rem);
}
@media screen and (max-width:1299.98px){
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .hero{width:70vw;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper>.wrapper{margin-left:10rem;}
}
@media screen and (max-width:1199.98px){
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .hero{width:74vw;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper>.wrapper{margin-left:4rem;}
}
@media screen and (max-width:1099.98px){
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .hero{width:78vw;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper>.wrapper{margin-left:2rem;}
}
@media screen and (max-width:991.98px){
    .banner-01 .swiper > .swiper-wrapper .swiper-slide{
        height:calc(100dvh - 7.0625rem); display:flex; justify-content:center;
    }
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .hero{right:unset; width:62vw;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .container .text-wrapper{width:100%; justify-content:center;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper>.wrapper{margin:-12rem 0 0 0; text-align:center;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .main-title{width:100%}
}
@media screen and (max-width:767.98px){
    .banner-01 .swiper > .swiper-wrapper .swiper-slide{height:calc(100dvh - 12rem);}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .hero{width:60vw;}
    .banner-01 .swiper > .swiper-wrapper .swiper-slide .text-wrapper>.wrapper{margin:-8rem 0 0 0;}
}

.banner-01 .swiper-slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
  }
.banner-01 .swiper-slide-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-01 .swiper-slide .animate{opacity:0!important; transform:translateY(4rem)!important;}


/* Section 01 */
.section-01 .services{display:flex; flex-wrap:wrap; width:100%;}
.section-01 .service{
    position:relative; display:block; width:calc(100% / 6.5); 
    padding:.75rem .25rem; overflow:hidden; border-right:1px solid transparent;
}
.section-01 .service.lg{width:calc(100% / 6.5 * 2.5); padding:1rem;}
.section-01 .service > .wrapper{
    display:flex; align-items:center; flex-wrap:wrap; max-width:24rem; height:100%;
}
.section-01 .service .icon{
    display:flex; align-items:center; justify-content:center;
    width:2.75rem; height:2.75rem; margin:0 auto;
}
.section-01 .service .icon img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
@media screen and (max-width:991.98px){
    .section-01 .service{width:25%;}
    .section-01 .service.lg{width:100%;}
    .section-01 .service > .wrapper{margin:0 auto;}
}
@media screen and (max-width:991.98px){
    .section-01 .service{border-bottom:1px solid transparent;}
    .section-01 .service:nth-child(4){border-right:0;}
}
@media screen and (max-width:575.98px){
    .section-01 .service{width:50%;}
    .section-01 .service:nth-child(2){border-right:0;}
}


/* Section 02 */
.section-02{position:relative;}
.section-02 .pattern{position:absolute;}
.section-02 .pattern.style-01{top:0; left:1rem;}
.section-02 .pattern.style-01 img{
    display:block; max-width:100%; width:auto; max-height:100%; height:40rem;
}
.section-02 .pattern.style-02{top:0; right:0;}
.section-02 .pattern.style-02 img{
    display:block; max-width:100%; width:auto; max-height:100%; height:40rem;
}
.section-02 .panels{width:100%; display:flex; flex-wrap:wrap;}
.section-02 .panel-left{
    width:19rem; display:flex; align-items:stretch; flex-wrap:wrap; padding:0 0 1.5rem 0;
}
.section-02 .panel-left .btns{width:100%; margin:.5rem 0 0 0;}
.section-02 .panel-right{width:calc(100% - 19rem);}
.section-02 .panel-right .swiper{padding-bottom:1rem;}
.section-02 .panel-right .swiper-pagination{text-align:left;}
.section-02 .panel-right .swiper-horizontal>.swiper-pagination-bullets{bottom:0rem;}
.section-02 .panel-right .swiper-pagination .swiper-pagination-bullet{width:.4375rem; height:.4375rem; transition: width .25s;}
.section-02 .panel-right .swiper-pagination .swiper-pagination-bullet-active{border-radius:.3rem; width:1.5rem;}
@media screen and (max-width:991.98px){
    .section-02 .panel-left{
        width:100%; padding:0 0 1.5rem 0;
        display:flex; align-items:center; justify-content:space-between;
    }
    .section-02 .panel-left.hide-tablet{display:none!important;}
    .section-02 .panel-left .btns{width:auto; margin:0 0 0 1.5rem;}
    .section-02 .panel-right{width:100%;}
}
@media screen and (max-width:575.98px){
    .section-02 .panel-left{display:block;}
    .section-02 .panel-left .btns{margin:.75rem 0 0 0;}
    .section-02 .panel-right .swiper-pagination{text-align:center;}
    .section-02 .panel-right .swiper-horizontal>.swiper-pagination-bullets{bottom:-.25rem;}
}
@media screen and (min-width:992px){
    .section-02 .panel-left.show-tablet{display:none!important;}
}


/* Section 03 */
.section-03 .panel-header{display:flex; align-items:center; justify-content:space-between;}
@media screen and (max-width:575.98px){
    .section-03 .panel-header{display:block;}
    .section-03 .panel-header .btns{margin:.75rem 0 0 0;}
}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{position:absolute; pointer-events:none; opacity:0; padding:0; margin:0; transition:opacity .6s, transform .6s;}
.tab-container .tab-content.active{position:relative; overflow:hidden; pointer-events:auto; opacity:1;}
.tab-container .tab-content.fade-out:not(.no-fade){opacity:0; pointer-events:none;}
.tab-container .tab-content.fade-in:not(.no-fade){
  display:block; position:absolute; opacity:0; transform:translateY(1.5rem); pointer-events:none;
}

/* Tabs 01 */
.tabs.tabs-01{display:flex; flex-wrap:wrap; margin-top:1.5rem;}
.tabs.tabs-01 .tab{
  margin-right:.75rem; border:2px solid transparent; border-radius:1000em;
  padding:.4375rem 1.5rem; transition:background .25s, color .25s;
}