
/* Section 01 */
.section-01 .services{display:flex; flex-wrap:wrap; width:100%;}
.section-01 .service{display:block; width:calc(100% / 6.5); padding:.75rem .25rem;}
.section-01 .service.lg{width:calc(100% / 6.5 * 2.5); padding:1rem;}
.section-01 .service > .wrapper{
    display:flex; align-items:center; flex-wrap:wrap; max-width:24rem; height:100%;
}
.section-01 .service .icon{
    display:flex; align-items:center; justify-content:center;
    width:2.75rem; height:2.75rem; margin:0 auto;
}
.section-01 .service .icon img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
@media screen and (max-width:991.98px){
    .section-01 .service{width:25%;}
    .section-01 .service.lg{width:100%;}
    .section-01 .service > .wrapper{margin:0 auto;}
}
@media screen and (max-width:575.98px){
    .section-01 .service{width:50%;}
}


/* Section 02 */
.section-02 .panels{width:100%; display:flex; flex-wrap:wrap;}
.section-02 .panel-left{
    width:19rem; display:flex; align-items:stretch; flex-wrap:wrap; padding:0 0 1.5rem 0;
}
.section-02 .panel-left .btns{width:100%; margin:.5rem 0 0 0;}
.section-02 .panel-right{width:calc(100% - 19rem);}
@media screen and (max-width:991.98px){
    .section-02 .panel-left{
        width:100%; padding:0 0 1.5rem 0;
        display:flex; align-items:center; justify-content:space-between;
    }
    .section-02 .panel-left.hide-tablet{display:none!important;}
    .section-02 .panel-left .btns{width:auto; margin:0 0 0 1.5rem;}
    .section-02 .panel-right{width:100%;}
}
@media screen and (max-width:575.98px){
    .section-02 .panel-left{display:block;}
    .section-02 .panel-left .btns{margin:.75rem 0 0 0;}
}
@media screen and (min-width:992px){
    .section-02 .panel-left.show-tablet{display:none!important;}
}


/* Section 03 */
.section-03 .panel-header{display:flex; align-items:center; justify-content:space-between;}
@media screen and (max-width:575.98px){
    .section-03 .panel-header{display:block;}
    .section-03 .panel-header .btns{margin:.75rem 0 0 0;}
}
